<div class="container-fluid">
  <div class="bg-image shadow-2-strong contenedor">
    <br /><br /><br />
    <h1 style="text-align: center; color: white; font-weight: bold">
      {{ title }}
    </h1>
    <br /><br /><br />
    <div class="d-flex">
      <div class="flex-item">
        <img
          class="img-fluid"
          src="assets/img/foto_perfil.jpg"
          alt="Foto perfil"
        />
        <p>
          My name is {{ name }} and currently I'm an student in Techma Business
          <br />
          school with Fundación Esplai and T-Systems<br />
          I'm a Full-Stack developer and this is my Rick & Morty Website. <br />
          Feel free to check out my GitHub page, where you can find some of my
          recent projects. <br /><br />
          <a href="https://github.com/Laurelindorean"
            ><i class="fa-solid fa-coffee fa-xl fa-brands fa-github-square"></i>
            Github</a
          >
        </p>
      </div>
    </div>
    <div class="d-flex enlace"></div>
  </div>
</div>
